.MessageWrapper {
  margin-bottom: .1rem;
  color: white;
  border-radius: 4px;
  padding: .1rem 0;
}

.MessageWrapper:nth-child(1) {
  margin-bottom: .5rem;
}

.UsernameDisplay {
  font-weight: 600;
}

.Message {
}