.MessageWrapper {
  margin-bottom: .1rem;
  color: white;
  /* border-radius: 4px; */
  padding: .5rem 0;
  padding-left: 20px;
  background: none;
}

.MessageWrapper:hover {
  background: rgba(255,255,255,.05) !important;
}

.MessageWrapper:nth-child(1) {
  margin-bottom: .5rem;
}

.UsernameDisplay {
  font-weight: 600;
}

.Message {
  word-wrap:break-word;
}