:root {
  --black: #191A19;
  --black-green: #151c15;
  --dark-green: #1E5128;
  --green: #4E9F3D;
  --bluey-green: #1c392c;
  --light-green: #D8E9A8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}