.container {
  display: grid;
  grid-template-columns: minmax(24px, 60px) 4fr 1fr;
  height: 100vh;
}

.sidebar, .buttonsHandler {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.buttonHolder span {
  color: white;
  font-size: 20px;
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
  margin-left: -50px;
  background: #000000c7;
  padding: 7px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0%;
  z-index: -10;
}

.buttonHolder span::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 20px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #000000c7; 
}

.buttonHolder .sidebarButton:hover + span {
  margin-left: 65px;
  opacity: 90%;
}

.sidebar {
  background-color: #142E1F;
}

.sidebarButton, .sidebarButtonTop, .sidebarButtonBottom {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  transition: .2s;
}

.sidebarButton:hover, .sidebarButtonTop:hover, .sidebarButtonBottom:hover {
  padding: 10px;
  background: rgb(230, 243, 230);
  border: none;
  border-radius: 50%;
}

.buttonsHandler {
  max-height: 30%; 
  justify-content: space-between;
}

.sidebarButtonTop, .sidebarButtonBottom {
  margin: 20px 0;
}

.main {
  width: 100%;
  background: gray;
  z-index: -20;
}

.chatRoom {
  width: 100%;
}

.chatRoom textarea {
  resize: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
