.container {
  display: grid;
  grid-template-columns: minmax(24px, 60px) 4fr 1.5fr;
  height: 100vh;
}

.sidebar, .buttonsHandler {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.buttonHolder span {
  color: white;
  font-size: 20px;
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
  margin-left: -50px;
  background: #000000c7;
  padding: 7px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0%;
  z-index: -10;
}

.buttonHolder span::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 20px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #000000c7; 
}

.buttonHolder .sidebarButton:hover + span {
  margin-left: 65px;
  opacity: 90%;
}

.sidebar {
  background-color: var(--dark-green);
}

.sidebarButton, .sidebarButtonTop, .sidebarButtonBottom {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  transition: .2s;
}

.sidebarButton:hover, .sidebarButtonTop:hover, .sidebarButtonBottom:hover {
  padding: 10px;
  background: rgb(230, 243, 230);
  border: none;
  border-radius: 50%;
}

.buttonsHandler {
  max-height: 30%; 
  justify-content: space-between;
}

.sidebarButtonTop, .sidebarButtonBottom {
  margin: 20px 0;
}

.main {
  width: 100%;
  background: var(--black);
  z-index: -20;
}

.chatRoom {
  min-width: 100%;
  max-width: 100%;
  background: var(--bluey-green);
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column;
}

.chatMessengerHandler {
  padding: 0 1rem;
  width: 100%;
}

.MessagesHandler {
  max-height: 100%;
  margin: 0 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 auto;
}

.MessagesHandler::-webkit-scrollbar {
  width: 12px;
}

.MessagesHandler::-webkit-scrollbar-track {
  background: none;
}

.MessagesHandler::-webkit-scrollbar-thumb {
  background-color: var(--black);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--bluey-green);  /* creates padding around scroll thumb */
}

.chatMessengerHandler {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.chatMessengerHandler textarea {
  resize: none;
  overflow-y: scroll;
  width: 100%;
  margin: auto 0;
  padding: calc(.37rem * 1.5) .5rem; /*i know this is a broken number but come ON it's centered alright?*/
  height: calc(2rem * 1.5);
  margin-right: 1rem;
  font-size: 13px;
}

.chatMessengerHandler button {
  height: 100%;
  background: #4ec163;
  border: none;
  border-radius: 4px;
  padding: 0 .7rem;
  transition: .2s;
  color: white;
}

.chatMessengerHandler button:hover {
  background:#20a038;
}

.chatMessengerHandler button:active {
  transition: .1s;
  background:#146122;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
