.container {
  width: 100wh;
  height: 100vh;
  background: var(--black);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 21px;
}

.authBg {
  width: 100vw;
  height: 100vh;
  background: url('/static/login_bg.jpg');
  opacity: 0.3;
  filter: blur(25px);
  position: absolute;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.mainContainer label {
  display: block;
}

.loginHandler {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #2E0D3D 0%, #090110 39.58%);
  border-radius: 50px;
  max-width: 500px;
  z-index: 10;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 60px;
}

.loginHandler h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.loginHandler h3 {
  font-weight: 500;
  margin-top: 10px;
}

.loginHandler a {
  color: var(--purple-links);
  font-weight: 400;
  margin-top: 16px;
}

.loginHandler button {
  padding: 10px 20px;
  border: 0;
  border-radius: 18px;
  color: white;
  background: var(--button-main-bg);
  margin-top: 20px;
  font-size: 20px;
  transition: .25s;
  width: 100%;
}

.loginHandler span {
  color: var(--purple-links);
}

.loginHandler button:disabled, .loginHandler button:disabled:hover {
  cursor: default;
  background: var(--button-disabled-bg);
  color: #ffffff8f;
}

.loginHandler button:hover {
  background: var(--button-hover-bg);
}

.loginButton {
  margin-bottom: 20px;
  padding: 15px 0 !important;
}

.otherOptionsTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-weight: 600;
}

.otherOptionsTitle span {
  display: block;
  width: 50%;
  text-align: center;
  color: #2E0D3D
}

.otherOptionsTitle div {
  width: 30%;
  background: #2E0D3D;
  padding: 1px 0;
  margin: 0 5px;
}

.otherOptionsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.otherOptionsContainer button {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconMargin {
  margin-right: 10px;
}

@media (max-width: 700px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .loginHandler {
    border-radius: 0;
    max-width: 100%;
  }
}